<div class="row">
    <h2>module list:</h2>
    <span><a href="#/add">Create a new module</a></span>
</div>

<div class="row">
    <div class="col-md-8">
        filter module: <input ng-model="filterName">

        <table class="table">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Score</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="module in modules | filter:filterName | orderBy:'score'  track by $index">
                <td>{{$index}}</td>
                <td>{{module.name}}</td>
                <td>{{module.score}}</td>
                <td><a href="#/detail/{{module.id}}">detail</a></td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <h3>The best module:</h3>
        <module-detail module="bestModule"></module-detail>
    </div>
</div>
