<div class="row">
    <h3>Create Module</h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Score</th>
            <th>Tags</th>
            <th></th>
        </tr>
        <tr>
            <td><input ng-model="newModule.name"></td>
            <td><input ng-model="newModule.score"></td>
            <td><input ng-model="newModule.tags"></td>
            <td><button class="btn btn-sm btn-success" ng-click="callCreateModule()">Create</button></td>
        </tr>
        <tr>
            <td><a class="btn btn-xs btn-primary" href="#/view1">Back to Main Page</a></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>