<h2>Create a new module</h2>
<div class="row">
    <form ng-submit="saveModule()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" ng-model="module.name">
        </div>
        <div class="form-group">
            <label for="score">Score</label>
            <input type="number" class="form-control" id="score" ng-model="module.score">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
